<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>深圳市软通宝科技有限公司</webname>
  <weburl>http://www.rtb56.com</weburl>
  <weblogo>/upload/201810/29/201810291730157265.png</weblogo>
  <webcompany>深圳市软通宝科技有限公司</webcompany>
  <webaddress>深圳市宝安区西乡后瑞地铁站西部硅谷B座C区509-510</webaddress>
  <webtel>0755-23200756</webtel>
  <webfax />
  <webmail>limi@ruantongbao.com</webmail>
  <webcrod>粤 ICP 备 15048722 号 - 10</webcrod>
  <seotitle>速递管家 - 跨境物流软件,国际专线系统,国际小包系统,国际快递系统,货代管理系统</seotitle>
  <seokeyword>跨境物流软件,国际小包系统,国际专线系统,国际快递系统,货代管理系统</seokeyword>
  <seocopyright>版权所有 深圳市软通宝科技有限公司 Copyright 2015 - 2019 RTB All Rights Reserved.</seocopyright>
  <seodescription>速递管家是公司自主研发的跨境电商物流管理系统，适用于货代企业对邮政小包、国际专线、国际快递、国际空运、FBA专线等跨境物流业务管理</seodescription>
  <copyright>国际货运代理 演示版本</copyright>
  <logopath />
  <countrypath>/upload/201505/22/201505221847318175.xml</countrypath>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <onlineorderaddress>http://toms.ruantongbao.com</onlineorderaddress>
  <onlinecustomerservice>1</onlinecustomerservice>
  <smsverification>1</smsverification>
  <staticstatus>0</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode>
    &lt;script&gt;
    var _hmt = _hmt || [];
    (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?c1798229b4b526ba08e939fd65f8eef1";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
    })();
    &lt;/script&gt;
    &lt;script&gt;
    (function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
    bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
    })();
    &lt;/script&gt;

  </webcountcode>
  <calculate>1</calculate>
  <track>1</track>
  <toms_url>http://11111111</toms_url>
  <smsapiurl>http://sms.RTBcms.net/httpapi/</smsapiurl>
  <smsusername>test</smsusername>
  <smspassword>e10adc3949ba59abbe56e057f20f883e</smspassword>
  <emailsmtp>smtp.qq.com</emailsmtp>
  <emailssl>1</emailssl>
  <emailport>25</emailport>
  <emailfrom>abc@abc.abc</emailfrom>
  <emailusername />
  <emailpassword>4E8FD842262F0CD6</emailpassword>
  <emailnickname />
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt,xml</fileextension>
  <videoextension>flv,mp3,mp4,avi</videoextension>
  <attachsize>51200</attachsize>
  <videosize>102400</videosize>
  <imgsize>10240</imgsize>
  <imgmaxheight>0</imgmaxheight>
  <imgmaxwidth>0</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>0</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>100</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>软通宝</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>RTBcms001</sysencryptstring>
</siteconfig>