<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" type="index" page="index.aspx" inherit="RTBcms.Web.UI.Page.index" templet="index.html">
    <item path="index.aspx" pattern="index.aspx" />
  </rewrite>
  <rewrite name="news_list" type="list" page="news_list.aspx" inherit="RTBcms.Web.UI.Page.article_list" templet="news_list.html" channel="news" pagesize="20">
    <item path="news/{0}.aspx" pattern="news/(\d+).aspx" querystring="category_id=$1" />
    <item path="news/{0}/{1}.aspx" pattern="news/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="news_show" type="detail" page="news_show.aspx" inherit="RTBcms.Web.UI.Page.article_show" templet="news_show.html" channel="news">
    <item path="news/show-{0}.aspx" pattern="news/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="case_list" type="list" page="case_list.aspx" inherit="RTBcms.Web.UI.Page.article_list" templet="case_list.html" channel="case" pagesize="20">
    <item path="case/{0}.aspx" pattern="case/(\d+).aspx" querystring="category_id=$1" />
  </rewrite>
  <rewrite name="case_show" type="detail" page="case_show.aspx" inherit="RTBcms.Web.UI.Page.article_show" templet="case_show.html" channel="case">
    <item path="case/show-{0}.aspx" pattern="case/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="about" type="list" page="about.aspx" inherit="RTBcms.Web.UI.Page.article_list" templet="about.html" channel="about" pagesize="20">
    <item path="about.aspx" pattern="about.aspx" />
  </rewrite>
  <rewrite name="bespeak" type="list" page="bespeak.aspx" inherit="RTBcms.Web.UI.Page.article_list" templet="bespeak.html" channel="about" pagesize="20">
    <item path="bespeak.aspx" pattern="bespeak.aspx" />
  </rewrite>
  <rewrite name="product_service1" type="list" page="product_service1.aspx" inherit="RTBcms.Web.UI.Page.article_list" templet="product_service1.html" channel="product_service" pagesize="20">
    <item path="product_service1.aspx" pattern="product_service1.aspx" />
  </rewrite>
  <rewrite name="product_service2" type="list" page="product_service2.aspx" inherit="RTBcms.Web.UI.Page.article_list" templet="product_service2.html" channel="product_service" pagesize="20">
    <item path="product_service2.aspx" pattern="product_service2.aspx" />
  </rewrite>
  <rewrite name="product_service3" type="list" page="product_service3.aspx" inherit="RTBcms.Web.UI.Page.article_list" templet="product_service3.html" channel="product_service" pagesize="20">
    <item path="product_service3.aspx" pattern="product_service3.aspx" />
  </rewrite>
</urls>