<div class="header">
    <div class="content clearfix">
        <span class="logo"><a href='<%linkurl("index")%>'><img src="{config.weblogo}" alt="友程科技" /></a></span>
        <div class="fl nav">
            <ul class="clearfix">
                <li><a class="p-index nav-list" href='<%linkurl("index")%>'>智能开关</a></li>
                <li>
                    <a class="p-productService nav-list" href='<%linkurl("product_service1")%>'>产品中心</a>
                </li>
                <li><a class="p-news nav-list" href='<%linkurl("news_list",87)%>'>新闻资讯</a></li>
                <li><a class="p-about nav-list" href='<%linkurl("about")%>'>关于我们</a></li>
                <li><a class="p-case nav-list" href='<%linkurl("case_list",84)%>'>渠道合作</a></li>
            </ul>
        </div>
        <div class="right-top">
            <nofollow><a href="http://tool.ruantongbao.com" class="pro-down" target="_blank"><i class="product-icon"></i>APP下载</a></nofollow>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".nav ul li").hover(function () {
            $(this).find(".son-nav").stop().slideDown();
        }, function () {
            $(this).find(".son-nav").stop().slideUp();
        });
    })
</script>