<div class="header">
    <div class="content clearfix">
        <span class="logo"><a href='<%linkurl("index")%>'><img src="{config.weblogo}" alt="速递管家" /></a></span>
        <div class="fl nav">
            <ul class="clearfix">
                <li><a class="p-index nav-list" href='<%linkurl("index")%>'>速递管家</a></li>
                <li>
                    <a class="p-productService nav-list" href='<%linkurl("product_service1")%>'>解决方案</a>
                    <div class="son-nav">
                        <span class="triangle"></span>
                        <div>
                            <a href='<%linkurl("product_service1")%>'>货代管理系统</a>
                            <a href='<%linkurl("product_service2")%>'>仓储管理系统</a>
                            <a href='<%linkurl("product_service3")%>'>转运管理系统</a>
                        </div>
                    </div>
                </li>
                <li><a class="p-news nav-list" href='<%linkurl("news_list",87)%>'>资讯中心</a></li>
                <li><a class="p-about nav-list" href='<%linkurl("about")%>'>关于我们</a></li>
                <li><a class="p-case nav-list" href='<%linkurl("case_list",84)%>'>客户合作</a></li>
                <li><a class="p-bespeak nav-list" href='<%linkurl("bespeak")%>'>预约演示</a></li>
            </ul>
        </div>
        <div class="right-top">
            <nofollow><a href="http://tool.ruantongbao.com" class="pro-down" target="_blank"><i class="product-icon"></i>产品下载</a></nofollow>
            <nofollow><a href="about.html#contact" class="contact-we" target="_blank"><i class="phone-icon"></i>联系我们</a></nofollow>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".nav ul li").hover(function () {
            $(this).find(".son-nav").stop().slideDown();
        }, function () {
            $(this).find(".son-nav").stop().slideUp();
        });
    })
</script>