<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>关于我们 - 深圳市友程电子科技有限公司</title>
    <meta name="keywords" content="{config.seokeyword}" />
    <meta name="description" content="{config.seodescription}" />
    <link rel="icon" type="image/png" href="<%templateskin%>/images/logo-16-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="<%templateskin%>/images/logo-32-32.png" sizes="32x32">
    <link href="<%templateskin%>/css/style.css?v=1.1" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-3.3.1.min.js"></script>
</head>
<body  id="about">
    <%template src="_header.html"%>

    <div class="main">
        <div class="top-banner">
            <img src="<%templateskin%>/images/p1.png">
            <span class="top-txt">
                <i>关于我们</i>
                <em>About Us</em>
            </span>
        </div>
        <div class="content pt100" id="contact">
            <div class="top-title">
                <h3>联系我们</h3>
            </div>
            <div id="contact" class="contact-info clearfix mt60">
                <div class="info-cont">
                    <p class="f-blue">深圳市宝安区中图晶华电子经营部</p>
                    <p class="p-row"><span>联系电话：</span>13332969249（微信同号）<br />
                        13316814641</p>
                    <p class="p-row"><span>联系邮箱：</span>xiehua@jinghuajingying.com<br />
                                ghy@jinghuajingying.com</p>
                    <p class="p-row"><span>联系地址：</span>深圳市宝安区银田工业区36栋合欢商业中心610</p>
                </div>
                <div class="info-map">
                    <div id="l-map" style="width:577px; height:386px;"></div>
                </div>
            </div>
        </div>
        <div class="content pt170 pb170">
            <div class="top-title">
                <h3>公司简介</h3>
            </div>
            <dl class="company-info clearfix">
                <dt>
                    <img src="<%templateskin%>/images/about.png">
                </dt>
                <dd>
                    <p>中图晶华成立于2007年，主营智能开关插座，如触摸开关、wifi开关、无线开关、智能按键开关、涂鸦app智能控制开关、智能语音控制开关、智能计量插座、智能多孔插座，支持wifi、蓝牙等无线网连接。现有员工近百人，旗下设研发部、品质部、业务部、市场部、财务部，在东莞拥有自己的代加工厂，拥有雄厚产品研发实力和充足的货源，欢迎各位友朋咨询订购！</p>
                </dd>
            </dl>
        </div>        
    </div>

    <%template src="_footer.html"%>

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ND9ku9ZQATIsNKAzZ2luMOUpVVY6HPg6"></script>
    <script type="text/javascript">
        var mapZoom = 19,
		winInfo = "深圳市宝安区中图晶华电子经营部",//输入的内容作为JS的字符串需要调用这个方法 by jser
		mapX = 113.895382,
		mapY = 22.579818,
		overlayX = 113.895382,
		overlayY = 22.579818;

        var map = new BMap.Map("l-map"); // map实例
        var point = new BMap.Point(mapX, mapY); 			 // 坐标点
        map.centerAndZoom(point, mapZoom);

        var oPoint = new BMap.Point(overlayX, overlayY);
        var marker = new BMap.Marker(oPoint);

        map.enableScrollWheelZoom();				// 启用滚轮放大缩小
        map.disableDoubleClickZoom();				// 禁止双击放大
        map.addOverlay(marker);						// 添加一个小圆点
        //marker.enableDragging(true);				// 设置标注可拖拽
        var bMapNavigation = new BMap.NavigationControl();
        map.addControl(bMapNavigation);										// 添加一条鱼骨	

        initInfoWindow(marker, winInfo);//添加信息窗

        function initInfoWindow(mMarker, infomation) {
            if (!infomation) { return }
            //设置为0可以高度自适应
            var infoWindow = new BMap.InfoWindow(infomation, { width: 236, height: 0, title: '', enableAutoPan: false });						// 创建信息窗口对象
            mMarker.openInfoWindow(infoWindow);
            mMarker.addEventListener('click', function (e) {
                if (infoWindow.isOpen()) {
                    this.closeInfoWindow();
                } else {
                    this.openInfoWindow(infoWindow);
                }
            });
        }
    </script>

</body>
</html>
