<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>客户案例 - 深圳市友程电子科技有限公司</title>
    <meta name="keywords" content="{config.seokeyword}" />
    <meta name="description" content="{config.seodescription}" />
    <link rel="icon" type="image/png" href="<%templateskin%>/images/logo-16-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="<%templateskin%>/images/logo-32-32.png" sizes="32x32">
    <link href="<%templateskin%>/css/style.css?v=1.1" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-3.3.1.min.js"></script>
</head>
<body id="case">
    <%template src="_header.html"%>

    <div class="main">
        <div class="top-banner">
            <img src="<%templateskin%>/images/p1.png">
            <span class="top-txt">
                <i>客户合作</i>
                <em>Customer Cooperation</em>
            </span>
        </div>
        <div class="content pt100 pb100">
            <h3 class="title-info"><span>客户案例</span></h3>
            <div class="case clearfix">
                <%set DataTable newsList=get_article_list(channel, category_id, pagesize, page, "status=0", out totalcount, out pagelist, "case_list", category_id, "__id__")%>
                <%foreach(DataRow dr1 in newsList.Rows)%>
                <div class="case-w">
                    <dl>
                        <dt>
                            <a title="{dr1[title]}" href='<%linkurl("case_show",{dr1[id]})%>'><img src="{dr1[img_url]}"></a>
                        </dt>
                        <dd>
                            <h3>{dr1[title]}</h3>
                            <p>{dr1[zhaiyao]}</p>
                        </dd>
                    </dl>
                </div>
                <%/foreach%>
            </div>
            <h3 class="title-info"><span>合作伙伴</span></h3>
            <div class="partner custom-partner">
                <div class="clearfix">
                    <a href="javascript:void(0);"><img src="<%templateskin%>/images/h1.png"></a>
                    <a href="javascript:void(0);"><img src="<%templateskin%>/images/h2.png"></a>
                    <a href="javascript:void(0);"><img src="<%templateskin%>/images/h3.png"></a>
                    <a href="javascript:void(0);"><img src="<%templateskin%>/images/h4.png"></a>
                    <a href="javascript:void(0);"><img src="<%templateskin%>/images/h5.png"></a>
                    <a href="javascript:void(0);"><img src="<%templateskin%>/images/h6.png"></a>
                    <a href="javascript:void(0);"><img src="<%templateskin%>/images/h7.png"></a>
                    <a href="javascript:void(0);"><img src="<%templateskin%>/images/h8.png"></a>
                    <a href="javascript:void(0);"><img src="<%templateskin%>/images/h9.png"></a>
                    <a href="javascript:void(0);"><img src="<%templateskin%>/images/h10.png"></a>
                </div>
            </div>
        </div>
    </div>

    <%template src="_footer.html"%>
</body>
</html>
