<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{config.seotitle}</title>
    <meta name="keywords" content="{config.seokeyword}" />
    <meta name="description" content="{config.seodescription}" />
    <link rel="icon" type="image/png" href="<%templateskin%>/images/logo-16-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="<%templateskin%>/images/logo-32-32.png" sizes="32x32">
    <link href="<%templateskin%>/css/swiper.min.css?v=1.1" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/style.css?v=1.1" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/idangerous.swiper.min.js"></script>
</head>
<body id="index">
    <%template src="_header.html"%>
    
    <div class="main">
        <div class="swiper-container" style="height:600px;">
            <div class="swiper-wrapper">
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="bg-earth">
            <div class="content">
                <div class="top-title">
                    <h3><img class="iconf" src="<%templateskin%>/images/t1.png">速递管家</h3>
                    <p>支持多种业务模式，为客户提供信赖的解决方案</p>
                </div>
                <div class="server clearfix">
                    <div class="fl-img fl"><img src="<%templateskin%>/images/server.png" alt="跨境物流系统"></div>
                    <div class="server-list fl">
                        <ul class="server-ul clearfix">
                            <li>
                                <h3><a href='<%linkurl("product_service1")%>?pro=0#appCase'>国际小包系统</a></h3>
                                <p>支持全球邮政小包操作模式,面单设计、API对接、预报打单等。</p>
                            </li>
                            <li>
                                <h3><a href='<%linkurl("product_service1")%>?pro=1#appCase'>国际快递系统</a></h3>
                                <p>支持国际快递代理操作模式，客户在线下单、提货服务、财务结算等。</p>
                            </li>
                            <li>
                                <h3><a href='<%linkurl("product_service1")%>?pro=2#appCase'>国际专线系统</a></h3>
                                <p>支持空+派自助专线操作模式。解决FBA头程、国内报关、海外清关、末端派送等一系列专线类问题....</p>
                            </li>
                            <li>
                                <h3><a href='<%linkurl("product_service1")%>'>空运管理系统</a></h3>
                                <p>支持代理空运到港、空运到门操作模式，在线生成委托书、货物操作、订舱、生成提单等。</p>
                            </li>
                            <li>
                                <h3><a href='<%linkurl("product_service2")%>'>仓库管理系统</a></h3>
                                <p>一键代发、入库、出库、上架、打包发货等一系列仓库操作。</p>
                            </li>
                            <li>
                                <h3><a href='<%linkurl("product_service3")%>'>国际转运系统</a></h3>
                                <p>支持进出口直运、集运操作模式,，满足转运客户各种个性需求。</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-area">
            <div class="content">
                <div class="advantage">
                    <div class="top-title">
                        <h3><img class="iconf" src="<%templateskin%>/images/t2.png">我们的优势</h3>
                    </div>
                    <div class="advantage-list">
                        <dl>
                            <dt><img src="<%templateskin%>/images/l1.png"></dt>
                            <dd>
                                <h3>适用业务广泛</h3>
                                <p>适用各类货代业务管理，如：国际专线、国际小包、国际快递、空运管理、FBA头程、COD等。</p>
                            </dd>
                        </dl>
                        <dl>
                            <dt><img src="<%templateskin%>/images/l2.png"></dt>
                            <dd>
                                <h3>多种解决方案</h3>
                                <p>根据不同公司的业务情况匹配不同的软件版本，更贴合业务要求！</p>
                            </dd>
                        </dl>
                        <dl>
                            <dt><img src="<%templateskin%>/images/l3.png"></dt>
                            <dd>
                                <h3>可拓展性强</h3>
                                <p>既能满足中小规模企业的业务发展需要，也可满足大型企业个性化需求，让软件不再成为发展的瓶颈！</p>
                            </dd>
                        </dl>
                        <dl>
                            <dt><img src="<%templateskin%>/images/l4.png"></dt>
                            <dd>
                                <h3>专业实施团队</h3>
                                <p>我们有行业中最专业的实施团队协作软件上线，优化业务流程！</p>
                            </dd>
                        </dl>
                        <dl>
                            <dt><img src="<%templateskin%>/images/l5.png"></dt>
                            <dd>
                                <h3>金牌售后服务</h3>
                                <p>我们有充足的售后资源，7*24提供服务，不再担心系统掉链子！</p>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="top-title">
                <h3><img class="iconf" src="<%templateskin%>/images/t3.png">合作伙伴<a href='<%linkurl("case_list",84)%>'>更多<i class="more-r">&gt;</i></a></h3>
            </div>
            <div class="partner">
                <div class="clearfix">
                    <a href="javascript:void(0);"><img src="<%templateskin%>/images/h1.png"></a>
                    <a href="javascript:void(0);"><img src="<%templateskin%>/images/h2.png"></a>
                    <a href="javascript:void(0);"><img src="<%templateskin%>/images/h3.png"></a>
                    <a href="javascript:void(0);"><img src="<%templateskin%>/images/h4.png"></a>
                    <a href="javascript:void(0);"><img src="<%templateskin%>/images/h5.png"></a>
                    <a href="javascript:void(0);"><img src="<%templateskin%>/images/h6.png"></a>
                    <a href="javascript:void(0);"><img src="<%templateskin%>/images/h7.png"></a>
                    <a href="javascript:void(0);"><img src="<%templateskin%>/images/h8.png"></a>
                    <a href="javascript:void(0);"><img src="<%templateskin%>/images/h9.png"></a>
                    <a href="javascript:void(0);"><img src="<%templateskin%>/images/h10.png"></a>
                </div>
            </div>
        </div>

        <div class="content pt170 pb170">
            <div class="top-title">
                <h3><img class="iconf" src="<%templateskin%>/images/t4.png">资讯中心</h3>
            </div>
            <div class="news clearfix">
                <div class="news-fl-img"></div>
                <div class="news-list custom-list">
                    <h3>新闻资讯<a href='<%linkurl("news_list",87)%>'>更多<i class="more-r">&gt;</i></a></h3>
                    <ul class="list-ul">
                        <%set DataTable newsList=get_article_list("news", 87, 7, "status=0")%>
                        <%loop newdr newsList%>
                        <li>
                            <a title="{newdr[title]}" href='<%linkurl("news_show",{newdr[id]})%>'>{newdr[title]}</a>
                            <span class="cont-time fr"><%datetostr({newdr[add_time]},yyyy-MM-dd)%></span>
                        </li>
                        <%/foreach%>
                    </ul>
                </div>
                <div class="news-list">
                    <h3>最新公告</h3>
                    <ul class="list-ul">
                        <%set DataTable newsList1=get_article_list("news", 86, 7, "status=0")%>
                        <%loop newdr1 newsList1%>
                        <li>
                            <a title="{newdr1[title]}" href='<%linkurl("news_show",{newdr1[id]})%>'>{newdr1[title]}</a>
                            <span class="cont-time fr"><%datetostr({newdr1[add_time]},yyyy-MM-dd)%></span>
                        </li>
                        <%/foreach%>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <%template src="_footer.html"%>
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f6a2de90fbd93cec4c1deee6147f6188";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
    </script>

    <script>
        $(function () {
            //幻灯片内容
            $.ajax({
                type: "post",
                url: "/plugins/advert/advert.ashx?id=39",
                dataType: "json",
                success: function (data) {
                    var html = "";
                    for (var i = 0; i < data.length; i++) {
                        html += '<div class="swiper-slide" style="background-image:url(' + data[i].file_path + ')">' + data[i].content + '</div>';
                    }
                    //添加html，触发幻灯片插件
                    $(".swiper-wrapper").append(html);

                    //幻灯片插件
                    var swiper = new Swiper('.swiper-container', {
                        autoplay: 3000,
                        loop: true,
                        speed: 1500,
                        pagination: ".swiper-pagination",
                        paginationClickable: true

                    });
                    $(".swiper-button-prev").on('click', function () {
                        swiper.swipePrev()
                    });
                    $(".swiper-button-next").on('click', function () {
                        swiper.swipeNext()
                    });
                    $(".swiper-container").hover(function () {
                        swiper.stopAutoplay();
                    }, function () {
                        swiper.startAutoplay();
                    });
                }
            });
        })
    </script>
</body>
</html>