<!DOCTYPE html>
<html>
<head>
        <%set string category_title=get_category_title(model.category_id,"产品服务")%>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8" />
    <link href="<%templateskin%>/css/style.css?v=1.1" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-3.3.1.min.js"></script>
</head>
<body style="min-width:100%;">
<div class="prc-cont clearfix">
    <img src="{model.img_url}" class="prc-img" />
    <ul class="prc-info">
        <li class="prc-title">{model.title}</li>
        <li class="son-row">
            <h4 class="son-txt">{model.fields[site_pro_type]}</h4>
            <div class="o-txt" id="site-spec"><input type="hidden" value="{model.fields[site_spec]}" /></div>  
        </li>
        <li class="son-row">
            <h4 class="son-txt">安装注意事项</h4>
            <div class="o-txt" id="notice"><input type="hidden" value="{model.fields[site_notice]}" /></div>  
        </li>
    </ul>
</div>
<script src="<%templateskin%>/js/pro.js?v=1.0"></script>
</body>
</html>
