<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{config.seotitle}</title>
    <meta name="keywords" content="{config.seokeyword}" />
    <meta name="description" content="{config.seodescription}" />
    <link rel="icon" type="image/png" href="<%templateskin%>/images/logo-16-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="<%templateskin%>/images/logo-32-32.png" sizes="32x32">
    <link href="<%templateskin%>/css/swiper.min.css?v=1.1" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/style.css?v=1.1" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/idangerous.swiper.min.js"></script>
</head>

<body id="index">
    <%template src="_header.html"%>

    <div class="main">
        <div class="swiper-container" style="height:600px;">
            <div class="swiper-wrapper">
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            div
        </div>

        <div class="bg1">
            <div class="content">
                <div class="nav-wrap">
                    <%set DataTable categoryList=get_category_child_list("product_service",0)%>
                    <%foreach(DataRow cdr in categoryList.Rows)%>
                    <span>{cdr[title]}</span>
                    <%/foreach%>
                </div>
                <div class="son-lump">
                    <%foreach(DataRow cdrs in categoryList.Rows)%>
                    <div class="son-wrap">
                        <%set DataTable dataList=get_article_list("product_service", {strtoint({cdrs[id]})}, 100, "status=0")%>
                        <%loop adl dataList%>
                        <span data-src='<%linkurl("product_service_show",{adl[id]})%>' class="s-item">{adl[title]}</span>
                        <%/foreach%>
                    </div>
                    <%/foreach%>
                </div>
                <div class="index-pro-cont">
                    <iframe src="index_pro.html?id=268"></iframe>
                </div>
            </div>
        </div>
        <div class="content pt170 pb170">
            <div class="top-title">
                <h3><img class="iconf" src="<%templateskin%>/images/t4.png">资讯中心</h3>
            </div>
            <div class="news clearfix">
                <div class="news-fl-img"></div>
                <div class="news-list custom-list">
                    <h3>新闻资讯<a href='<%linkurl("news_list",87)%>'>更多<i class="more-r">&gt;</i></a></h3>
                    <ul class="list-ul">
                        <%set DataTable newsList=get_article_list("news", 87, 7, "status=0")%>
                        <%loop newdr newsList%>
                        <li>
                            <a title="{newdr[title]}" href='<%linkurl("news_show",{newdr[id]})%>'>{newdr[title]}</a>
                            <span class="cont-time fr"><%datetostr({newdr[add_time]},yyyy-MM-dd)%></span>
                        </li>
                        <%/foreach%>
                    </ul>
                </div>
                <div class="news-list">
                    <h3>最新公告</h3>
                    <ul class="list-ul">
                        <%set DataTable newsList1=get_article_list("news", 86, 7, "status=0")%>
                        <%loop newdr1 newsList1%>
                        <li>
                            <a title="{newdr1[title]}" href='<%linkurl("news_show",{newdr1[id]})%>'>{newdr1[title]}</a>
                            <span class="cont-time fr"><%datetostr({newdr1[add_time]},yyyy-MM-dd)%></span>
                        </li>
                        <%/foreach%>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <%template src="_footer.html"%>

    <script src="<%templateskin%>/js/index.js"></script>
</body>

</html>