<!DOCTYPE html> 
<html>
<head>
    <meta charset="utf-8" />
    <title>资讯中心 - 深圳市软通宝科技有限公司</title>
    <meta name="keywords" content="{config.seokeyword}" />
    <meta name="description" content="{config.seodescription}" />
    <link rel="icon" type="image/png" href="<%templateskin%>/images/logo-16-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="<%templateskin%>/images/logo-32-32.png" sizes="32x32">
    <link href="<%templateskin%>/css/style.css?v=1.1" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-3.3.1.min.js"></script>
</head>
<body id="news">
    <%template src="_header.html"%>

    <div class="main">
        <div class="top-banner">
            <img src="<%templateskin%>/images/p1.png">
            <span class="top-txt">
                <i>资讯中心</i>
                <em>Information Center</em>
            </span>
        </div>

        <div class="content list-wrap clearfix">
            <div class="list-fl">
                <h1>
                    资讯中心
                </h1>
                <div class="fl-nav">
                    <input id="categoryId" value="{category_id}" hidden />
                    <ul>
                        <%set DataTable categoryList=get_category_child_list(channel,0)%>
                        <%foreach(DataRow cdr in categoryList.Rows)%>
                        <li><a class="nav-l title-row" href='<%linkurl("news_list",{cdr[id]})%>' data-key="{cdr[id]}">{cdr[title]}</a></li>
                        <%/foreach%>
                    </ul>
                </div>
            </div>
            <div class="list-fr">
                <div class="list-row">
                    <h3 class="list-title"></h3>
                    <div class="list-ul custom-ul">
                        <%set DataTable newsList=get_article_list(channel, category_id, pagesize, page, "status=0", out totalcount, out pagelist, "news_list", category_id, "__id__")%><!--取得一个分页DataTable-->
                        <%foreach(DataRow dr1 in newsList.Rows)%>
                        <dl class="new-row">
                            <dt class="news-img"><img src="{dr1[img_url]}" /></dt>
                            <dd>
                                <h3 class="news-title-top"><a href='<%linkurl("news_show",{dr1[id]})%>'>{dr1[title]}</a></h3>
                                <p class="news-info">{dr1[zhaiyao]}</p>
                                <p class="news-time"><%datetostr({dr1[add_time]},yyyy-MM-dd)%></p>
                            </dd>
                        </dl>
                        <%/foreach%>
                    </div>
                </div>

                <!--页码列表-->
                <div class="page-box">
                    <div class="digg">{pagelist}</div>
                </div>
                <!--/页码列表-->
            </div>
        </div>
    </div>
    <div class="h40">&nbsp;</div>

    <%template src="_footer.html"%>

    <script>
        $(function () {
            //选择菜单
            var showMenuKey = $('#categoryId').val();
            $(".title-row").each(function () {
                if ($(this).data("key") == showMenuKey) {
                    $(this).addClass("sel");
                    $(".list-title").text($(this).text());
                }
            });
        });
    </script>

</body>
</html>
