<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>产品中心 - 深圳市友程电子科技有限公司</title>
    <meta name="keywords" content="{config.seokeyword}" />
    <meta name="description" content="{config.seodescription}" />
    <link rel="icon" type="image/png" href="<%templateskin%>/images/logo-16-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="<%templateskin%>/images/logo-32-32.png" sizes="32x32">
    <link href="<%templateskin%>/css/style.css?v=1.2" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-3.3.1.min.js"></script>
</head>
<body  id="productService">
    <%template src="_header.html"%>
    <div class="main">
        <div class="top-banner">
            <img src="<%templateskin%>/images/p1.png">
            <span class="top-txt">
                <i>产品中心</i>
                <em>Product center</em>
            </span>
        </div>

        <div class="content list-wrap clearfix">
            <div class="list-fl">
                <h1>
                    产品中心
                </h1>
                <div class="fl-nav">
                    <input id="categoryId" value="{category_id}" hidden />
                    <%set DataTable categoryList=get_category_child_list(channel,0)%>
                    <%foreach(DataRow cdr in categoryList.Rows)%>
                    <ul class="p-nav">
                        <li>
                            <span class="nav-l">{cdr[title]}</span>
                            <%set DataTable dt=get_category_child_list(channel, {strtoint({cdr[id]})})%>
                            <%foreach(DataRow dr1 in dt.Rows)%>
                            <ul class="s-nav">
                                <li><a class="nav-l title-row" href='<%linkurl("product_service_list",{dr1[id]})%>' data-key="{dr1[id]}">{dr1[title]}</a></li>
                            </ul>
                            <%/foreach%>
                        </li>
                    </ul>
                    <%/foreach%>
                </div>
            </div>
            <div class="list-fr">
                <div class="list-row">
                    <div class="case clearfix">
                        <%set DataTable newsList=get_article_list(channel, category_id, pagesize, page, "status=0", out totalcount, out pagelist, "news_list", category_id, "__id__")%><!--取得一个分页DataTable-->
                        <%foreach(DataRow dr1 in newsList.Rows)%>
                        <div class="case-w">
                            <dl>
                                <dt>
                                    <a title="{dr1[title]}" href='<%linkurl("product_service_show",{dr1[id]})%>'><img src="{dr1[img_url]}"></a>
                                </dt>
                                <dd>
                                    <h3>{dr1[title]}</h3>
                                    <p>{dr1[zhaiyao]}</p>
                                </dd>
                            </dl>
                        </div>
                        <%/foreach%>
                    </div>
                </div>

                <!--页码列表-->
                <div class="page-box">
                    <div class="digg">{pagelist}</div>
                </div>
                <!--/页码列表-->
            </div>
        </div>
    </div>
    <%template src="_footer.html"%>

    <script>
        $(function () {

            //加载展开当前菜单
            var showMenuKey = $('#categoryId').val();
            $(".title-row").each(function () {
                if ($(this).data("key") == showMenuKey) {
                    $(this).parents("li").each(function () {
                        $(this).find('ul').show();
                    });
                    $(this).addClass("sel");
                }
            });

            $(".p-nav > li > .nav-l").click(function () {
                $(this).siblings('ul').slideToggle();
            });

        });
    </script>
</body>
</html>
