<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <%set string category_title=get_category_title(model.category_id,"新闻资讯")%>
    <title>{model.title} - {category_title} - {config.seotitle}</title>
    <meta name="keywords" content="{model.seo_keywords}" />
    <meta name="description" content="{model.seo_description}" />
    <link rel="icon" type="image/png" href="<%templateskin%>/images/logo-16-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="<%templateskin%>/images/logo-32-32.png" sizes="32x32">
    <link href="<%templateskin%>/css/style.css?v=1.1" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-3.3.1.min.js"></script>
</head>
<body style="background-color:#fafafa;">
    <%template src="_header.html"%>

    <div class="content">
        <div class="pro-wrap">
            <div class="prc-cont clearfix">
                <div class="prc-img"><div><img src="{model.img_url}" /></div></div>
                <ul class="prc-info">
                    <li class="prc-title">{model.title}</li>
                    <li class="prc-price">&yen;{model.fields[site_price]}</li>
                    <li class="son-row">
                        <h4 class="son-txt">{model.fields[site_pro_type]}</h4>
                        <h4 class="son-txt">产品参数</h4>
                        <div class="o-txt custom-txt" id="site-spec"><input type="hidden" value="{model.fields[site_spec]}" /></div>
                    </li>
                    <li class="son-row zysx-row">
                        <h4 class="son-txt">安装注意事项</h4>
                        <div class="o-txt custom-txt" id="notice"><input type="hidden" value="{model.fields[site_notice]}" /></div>
                    </li>
                </ul>
            </div>
            <div class="pro-detail">
                <h3 class="p-dtitle">产品详情</h3>
                <div class="p-dcont">
                    {model.content}
                </div>
            </div>
            <div class="next-box clearfix">
                <p class="prev-page fl"><span>上个产品：</span><%=get_prevandnext_article("product_service_show", -1, "没有了", 0)%></p>
                <p class="next-page fr"><span>下个产品：</span><%=get_prevandnext_article("product_service_show", 1, "没有了", 0)%></p>
            </div>
        </div>
    </div>
    <%template src="_footer.html"%>
    <script src="<%templateskin%>/js/pro.js?v=1.0"></script>
</body>
</html>
